In [1]:
import ipyaladin as ipyal

## Display table result of an astroquery request

In [2]:
from astroquery.simbad import Simbad
import astropy.units as u

In [3]:
table = Simbad.query_region("Messier 1", radius=0.03 * u.deg)

In [4]:
aladin = ipyal.Aladin(fov= 0.4, target= 'Messier 1')
aladin

Aladin(fov=0.4, options=['allow_full_zoomout', 'coo_frame', 'fov', 'full_screen', 'log', 'overlay_survey', 'ovâ€¦

In [5]:
aladin.add_table(table)

## Display Astropy table created from scratch

In [6]:
from astropy.table import QTable
import astropy.units as u
import numpy as np

ra = [83.63451584700, 83.61368056017, 83.58780251600]
dec = [22.05652591227, 21.97517807639, 21.99277764451]
name = ['Gaia EDR3 3403818589184411648', 'Gaia EDR3 3403817661471500416', 'Gaia EDR3 3403817936349408000']
parallax = [1.7703, 0.5112, 0.3735] * u.mas

t = QTable([ra, dec, name, parallax],
           names=('ra', 'dec', 'name', 'parallax'),
           meta={'name': 'my sample table'})

In [7]:
aladin.add_table(t)